body{
    font-family: 'Zen Dots', cursive;
    background-image: url("https://cdn.pixabay.com/photo/2012/02/22/09/12/background-15226_960_720.jpg");
 }
canvas {
    border: 1px solid black;
    display:inline;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.titulo{
    text-align: center;
    text-shadow: 1px 1px 5px black, 0 0 1em #27dde0, 0 0 0.2em #27dde0;
    color: black;
    display:inline;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.instructions{
    text-align: left;
    text-shadow: 1px 1px 5px black, 0 0 1em #27dde0, 0 0 0.2em #27dde0;
    color: black;
    position: absolute;
    top:200px;
    bottom: 0;
    left: 20;
    right: 1100px;
    margin:auto;
}
.controls{
    text-align: right;
    display: inline;
    position: absolute;
    top:200px;
    bottom: 0;
    left: 0;
    right: 20;
    margin:auto;
}
